- name: Install RabbitMQ Cluster
  hosts: all
  become: true
  tasks:

  - name: Ensure dependencies installed
    apt:
      name:
        - curl
        - python3
        - python3-pip
      state: present
      update_cache: yes

  - name: Install RabbitMQ
    apt:
      name: rabbitmq-server
      state: latest
      update_cache: yes

  - name: Make sure a service unit is running
    ansible.builtin.systemd_service:
      state: started
      name: rabbitmq-server

  - name: Enables the rabbitmq_management plugin
    community.rabbitmq.rabbitmq_plugin:
      names: rabbitmq_management
      state: enabled

  # - name: Create user
  #   community.rabbitmq.rabbitmq_user:
  #     user: user
  #     password: user123
  #     vhost: /
  #     configure_priv: .*
  #     read_priv: .*
  #     write_priv: .*
  #     state: present

  - name: Add cookie file
    copy:
      dest: "/var/lib/rabbitmq/.erlang.cookie"
      content: "1234567"

  - name: Create a Cluster
    ansible.builtin.shell: |
      rabbitmqctl stop_app
      rabbitmqctl join_cluster RabbitMQ@{{ ansible_facts['nodename'] }}
      rabbitmqctl start_app
      rabbitmqctl cluster_status

  - name: Enable HA policy
    community.rabbitmq.rabbitmq_policy:
      name: HA
      pattern: .*
    args:
      tags:
        ha-mode: all
        ha-sync-mode: automatic

  - name: Restart service rabbitmq-server
    ansible.builtin.service:
      name: rabbitmq-server
      state: restarted
